<div class="w-full flex flex-col space-y-2">
	<h2 class="text-xl text-gray-600 border-b border-gray-400 mb-4">Create Event</h2>
	<div class="justify-center">
		<div class="">
			<%= render "form", event: @event %>
		</div>
	</div>
</div>